body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
}
img{
    height: 100px;
    width: 100px;
    text-wrap: wrap;
}
.item1,.item2,.item3,.item4{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    align-items: center;
}